body {
    text-align: center;
    background-image: ;
}

h1 {
    font-size: 40px;
    font-family: sans-serif;
    font-weight: 300;
    
}

#app {
    background-color: aliceblue;
}

#game{
    background-color:lightcoral;
    text-decoration: underline;
}

.line {
    height: 6px;
    background-color: #000;
    width: 70px;
    margin: 8px auto;
    
}
